{% extends 'base.html' %}

{% block content %}
    <article>
      <h1>About Me!</h1>
      <p>Hi, my name is Robyn Hwang. I am currently training Brazilian Jiu-Jitsu full time in New York @ Unity
      Jiu-Jitsu under Murilo Santana.</p>
      <p>In addition to my athletic career, I've been in the business development space for the past 2 years.
      Starting at a small startup working my way up to Launchdarkly and GitLab!</p>
      <p>As much as I enjoy sales, I've really come to appreciate the technical side of things after
      selling two highly technical products. Which led me to try to pivot to engineering/Sales engineering.</p>
      <p>Currently working with a friend to build applications with Python and relevant technologies! (Flask for now...)
      </p>
    </article>
    <div>
      <h2>My current Location</h2>
      <p>...is in Seoul, South Korea!</p>
    </div>

    <div>
      <h2>Social Media</h2>
      <table>
        <tr><td><a class='sns' rel="noopener" target="_blank" href="https://github.com/alexrutar">Github</a><td></tr>
        <tr><td><a class='sns' rel="noopener" target="_blank" href="https://github.com/alexrutar">LinkedIn</a><td></tr>
        <tr><td><a class='sns' rel="noopener" target="_blank" href="https://github.com/alexrutar">Instagram</a><td></tr>

      </table>
    </div>
{% endblock %}